<!DOCTYPE html>
<html>
    <head>
        <title>help</title>
        <link rel="icon" href="/img/weather-icon.webp">
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>

    <body>
        <div class="main-content">
            {{> header }}
            <p>{{helpText}}</blockquote>
        </div>

        {{> footer }}
    </body>
</html>